<kettle-repository>

  <!-- The values within <properties> are passed directly to the Kettle Pentaho components. -->
       
	<!-- This is the location of the Kettle repositories.xml file, leave empty if the default is used: $HOME/.kettle/repositories.xml -->
	<repositories.xml.file></repositories.xml.file>
	<!-- files -->
	<repository.type>rdbms</repository.type>

	<!--  The name of the repository to use -->
	<repository.name>test repository</repository.name>
	
	<!--  The name of the repository user -->
	<repository.userid>developer</repository.userid>
	
	<!--  The password -->
	<repository.password>1234</repository.password>
		
</kettle-repository>